<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}{{g.app_name}}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Site icons -->
        <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <!--link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}"-->
        <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#1b2837">
        <meta name="msapplication-TileColor" content="#1b2837">
        <meta name="theme-color" content="#1b2837">
        
        {%- filter indent(width=8) %}
        {%- block socialgraph %}
        <!-- OpenGraph Social Preview stuff-->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{g.app_name}}" />
        <meta property="og:description" content="{{g.app_description}}" />
        <meta property="og:url" content="{{g.base_url}}" />
        <meta property="og:site_name" content="{{g.app_name}}" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="{{g.app_description}}" />
        <meta name="twitter:title" content="{{g.app_name}}" />

        <meta property="og:image" content="{{ url_for('static', filename='social_preview.jpg') }}" />
        <meta name="twitter:image" content="{{ url_for('static', filename='social_preview.jpg') }}" />
        {% endblock %}
        {% endfilter %}

        {%- if g.jquery_version %}
        <script src="https://code.jquery.com/jquery-{{g.jquery_version}}.min.js"></script>
        {% endif %}

        {%- if g.bootstrap_version %}

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@{{g.bootstrap_version}}/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@{{g.bootstrap_version}}/dist/js/bootstrap.bundle.min.js"></script>

        {% endif %}

        {%- if g.fontawesome_version %}

        <!-- Font awesome -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@{{g.fontawesome_version}}/css/all.min.css"/>

        {% endif %}

        {%- if g.ga_tag %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{g.ga_tag}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{g.ga_tag}}');
        </script>

        {% endif %}

        {%- filter indent(width=8) %}
        {%- block head_extra %}
        {% endblock %}
        {% endfilter %}
    </head>
    {% filter indent(width=4) %}
    {% block body %}
    {% endblock %}
    {% endfilter %}
</html>